@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="home-explore container-fluid d-flex  justify-content-around align-items-center vh-100 gap-5">
    <div id="explore-1" class="d-flex flex-column " style="width:70vh; height: 20vh; margin-bottom: 30vh; ">
        <h5>
            Discover a New Level of Comfort
        </h5>
        <h class="display-2 fw-bolder mt-2 mb-5">
            Discover a New Level of Comfort
        </h>

        <div class="">
            <BUtton class="me-4 btn btn-light">Discover More</BUtton>
            <BUtton class="btn btn-light">meet Lambogini</BUtton>

        </div>

    </div>
    <div id="explore-2" class="border border-1 border border-secondary h-50 d-flex " style="margin-right: 10vh;">
        <form action="" class="d-flex flex-column container px-4 py-3 gap-3">
            <h class="text-center fs-1 fw-bolder "> Search your own car</h>
            <select class="form-select">
                <option value="">Tất cả hãng xe</option>
                <option value="toyota">Toyota</option>
                <option value="honda">Honda</option>
                <option value="ford">Ford</option>
                <option value="mercedes">Mercedes</option>
                <option value="bmw">BMW</option>
            </select>

            <select class="form-select">
                <option value="">Tất cả mức giá</option>
                <option value="0-500">Dưới 500 triệu</option>
                <option value="500-1000">500 triệu - 1 tỷ</option>
                <option value="1000-2000">1 - 2 tỷ</option>
                <option value="2000+">Trên 2 tỷ</option>
            </select>
            <select class="form-select">
                <option value="">Tất cả tình trạng</option>
                <option value="new">Xe mới</option>
                <option value="used">Xe đã qua sử dụng</option>
                <option value="pre-owned">Xe cũ</option>
            </select>
            <button type="button" class="submit btn btn-outline-light " style="--bs-btn-bg: #9b103a">Get start </button>
        </form>
    </div>
</div>

<style>
    .home-explore::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('@Url.Content("~/images/anhnen.jpg")') center/cover no-repeat;
        z-index: -1;
    }
</style>