@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/" method="post">
    <input type="text" name="name" value="" />
    <input type="date" name="dateMovie" value="" />
    <input type="text" name="description" value="" />
    <input type="text" name="director" value="" />
    <input type="number" name="episode" value="" />
    <input type="text" name="image" value="" />
    <input type="file" name="trailer" value="" />
    <input type="submit" />

</form>